<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>图片轮播</title>
    <link rel="stylesheet" type="text/css" href="less/all.css" />
    <link rel="stylesheet" type="text/css" href="js/lib/slider/css/slider-min.css" />
</head>
<body id="J_Slider">
<input type="hidden" id="dispatcher" value="home">
<div id="slider" style="height:148px;overflow:hidden;">
    <div>
        <a href="http://www.baidu.com/"><img src="img/image1.png"></a>
        <p>1.我是title哈哈哈</p>
    </div>
    <div>
        <a href="http://www.baidu.com/"><img src="img/image2.png"></a>
        <p>2.我是title哈哈哈</p>
    </div>
    <div>
        <a href="http://www.baidu.com/"><img src="img/image3.png"></a>
        <p>3.我是title哈哈哈</p>
    </div>
    <div>
        <a href="http://www.baidu.com/"><img src="img/image4.png"></a>
        <p>4.我是title哈哈哈</p>
    </div>
</div>
<script src="js/lib/zepto/zepto.min.js" type="text/javascript"></script>
<script src="js/seajs/sea.js?v=1.0.0" data-config="config.js?v=1.0.0" data-main="main.js?v=1.0.0" id="seajsFile"></script>
</body>
</html>